section .content-me::after {
  content: '';
  display: block;
  clear: both;
}

section.contact .contact-me .right .form-group textarea{
  height:300px;
  width:100%;
  resize:none;
  border:1px solid #ccc;
  border-radius:10px;
}

section .content-me .left {
  width: 30%;
  float: left;
}

section .content-me .left .card {
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

section .content-me .left .card .icon i{
  font-size: 2rem;
  margin-right: 15px;
}

section .content-me .right {
  border: 1px solid #ccc;
  width: 65%;
  float: left;
  margin-left: 5%;
  padding: 1rem;
}

section .content-me .right .form-group {
  margin-bottom: 1.25rem;
}

section .content-me .right .form-group label {
  display: block;
  margin-bottom: 0.85rem;
}

section .content-me .right .form-group input:focus,
section .content-me .right .form-group textarea:focus {
  border: 1px solid #719ece;
  box-shadow: 0 0 10px #719ece;
}

section .content-me .right .form-group input {
  width: 100%;
  padding: 0.625rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

section .content-me .right .form-group textarea {
  outline: none;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}

section .content-me .right button {
  width:100%;
  padding:1rem;
  background-color: #f78b00;
  border: none;
  color: white;
}
